@import url('https://fonts.googleapis.com/css?family=Overpass:200,300,400,600,700,800,900');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height:64px;
    padding: 0 24px;
}

nav a {
    margin-left: 16px;
    text-decoration: none;
}

form {
    padding: 0 24px;
}

label {
   display: block;
   font-size:14px;
   margin-bottom: 8px;
}

input {
    margin-bottom: 16px;
    width:220px;
    height: 32px;
    border: 1px solid #e4c8c8;
    border-radius: 6px;
    padding-left: 8px; 
}

button {
    display: block;
    height:32px;
    width:auto;
    padding: 0 16px;
    border:none;
    border-radius: 6px;
    color: #fff;
    background: #4717e4;
    cursor: pointer;
}

.error-message {
    font-size: 14px;
    color: #ea2626;
    transform: translateY(-5px)
}